---
---
// BEGIN Home Page

@keyframes fadeInSlide {
  0% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #fbc2ff;
}

.container {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  width: 100%;
}

.window-outer {
  animation: fadeInSlide 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, tileShift 5s linear infinite;
  width: calc(100% - 4px);
  border-color:aqua;
  border: 2px ridge #f691ff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23), 0 0 5px #aaa inset;

  background-color: #feeaff;
  background-image: url("{{ '/assets/img/ui/tile-bg.png?v=' | append: site.env.CF_PAGES_COMMIT_SHA | relative_url }}");
  background-size: 30px;
}

// I'm so proud of myself for getting this to work
.window-outer::before {
  font-family: 'Neufreit';
  content: attr(window-title);
  display: block;
  background-color: #f691ff;
  background: linear-gradient(#f691ff, #e861e5);
  color: white;
  padding: 0.2rem 0.25rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-bottom: 2px ridge #f691ff;
}

@keyframes tileShift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}

.window-btn-exit {
  margin: 0;
  padding: 0;
  border: 0;
  position: absolute;
  top: 0.275rem;
  right: 0.2rem;

  background: transparent;
  font-size: inherit;
  font-family: inherit;
  color: var(--clr-a-text);
  text-decoration: none;
}

.window-btn-exit:hover g.btn-raise {
  filter: hue-rotate(45deg);
}

.window-btn-exit:active g.btn-raise {
  filter: contrast(0.5);
}