<link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css"></noscript>

<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/icons/site.webmanifest' | relative_url }}">
<meta name="msapplication-TileColor" content="#23a6d5">
<meta name="theme-color" content="#23a6d5">

{%- include head-custom-google-analytics.html -%}

{%- if site.favicon -%}
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/icons/favicon.ico' | relative_url }}">
{%- endif- %}
<link rel="stylesheet" href="{{ "/assets/custom_css/styles.css?v=" | append: site.env.CF_PAGES_COMMIT_SHA | relative_url }}">

{%- assign crumbs = page.url | remove: '/index.html' | split: '/' -%}
<script type="application/ld+json">
{ "@context": "https://schema.org", "@type": "BreadcrumbList",
"itemListElement": [{
    "@type": "ListItem", "position": 1,
    "name": "{{ site.title | default: "Home" }}",
    "item": "{{ site.url }}"
{% for crumb in crumbs offset: 1 %}
},{
    "@type": "ListItem", "position": {{ forloop.index | plus: 1 }},
    "name": "{% if forloop.last %}{{ page.title }}{% else %}{{ site.data.sections[crumb].name | default: crumb | capitalize }}{% endif %}",
    "item": "{{ site.url }}{% assign crumb_limit = forloop.index %}{% for crumb in crumbs offset: 1 limit: crumb_limit %}/{{ crumb }}{% endfor %}"
{% endfor %}
}]
}
</script>
