<svg id="{{ include.logo_id }}" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 873.5 281.54">
  <desc>Jasmine Angle</desc>
  <defs>
  <style>
  .cls-1 {
    font-size: 8em;
  }
  .full-name-logo {
    font-weight:600;
    fill: var(--clr-a-text);
    stroke: none
  }
  .full-name-logo:hover {
    fill: var(--clr-a-text-hvr);
  }
  .cls-3 {
    font-size: 8em;
  }
  .cls-7 {
    fill: none;
  }
  .cls-6,
  .cls-7 {
    stroke-miterlimit: 20;
  }
  </style>
  </defs>

  <line class="cls-6" y1="249.15" x2="873.5" y2="249.15" stroke-width="3" />
  <line class="cls-6" x1="465.16" y1="249.15" x2="873.5" y2="141.65" stroke-width="3" />
  <path class="cls-7" d="M558.5,194.5c7.3,0,13,9.64,13,22" transform="translate(-8 32.15)" stroke-width="3" />
  <g class="full-name-logo">
    <text class="cls-1" transform="translate(0.24 239.95)">
      Jasmine
    </text>
    <text class="cls-3" transform="matrix(1, -0.26, 0.26, 1, 510.13, 226.39)">
      Angle
    </text>
  </g>
</svg>