<div class="internal-link-wrapper">
  <ul class="link">
    {%- for section in site.sidebar_links -%}
    <li {% if page.url == section.link | relative_url %}class="active"{% endif %}><a href="{{ section.link | relative_url }}">{{ section.icon }}&nbsp;{{ section.name }}</a></li>
    {%- endfor -%}
  </ul>
</div>
<div class="link-wrapper">
  <ul class="link">
    {%- for platform in site.sidebar -%}
    <li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
    {%- endfor -%}
  </ul>
</div>