---
layout: base
---
<link rel="stylesheet" href="{{ "/assets/custom_css/home.css?v=" | append: site.env.CF_PAGES_COMMIT_SHA | relative_url }}">
<div class="container">
  <div class="home-grid">
    {% include header.html %}
    <div class="col-12 col-md-3 col-lg-2">
      <div class="home-grid">
        <div class="window-outer col-12" window-title="Status">
          <div class="window-btn">
            <a href="https://status.cafe/users/jasmangle.atom">
              {%- include rss-button.svg -%}
            </a>
          </div>
          <div class="window-content">
            <div class="jasponder">
              <div class="jasponder-content">
                <div id="statuscafe-username">Jasmine is pondering...</div>
                <div id="statuscafe-content"></div>
              </div>
              <img class="jasponder-img" src="{{ "/assets/img/jasponder.webp" | relative_url }}">
            </div>
          </div>
        </div>
        <div class="window-outer col-12" window-title="Navigation">
          {%- include sidenav.html -%}
        </div>
        <div class="col-12" style="margin:0 auto; width:auto; max-width: max-content;">
          <ws-widget type="hc" iid="16156"></ws-widget>
        </div>
      </div>
    </div>
    <div class="window-outer slide-anim col-12 col-md-6 col-lg-8" window-title="{{ page.title }}">
      <div class="window-exit">
        {%- include small-button-res.svg -%}
      </div>
      <div class="window-content {% if page.tile_bg==true %}tile-shift{% endif %}">
        {{ content }}
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
      <div class="home-grid">
        <div class="window-outer col-12 col-sm-6 col-md-12" window-title="Calendar">
          <ws-widget type="calendar" iid="16155"></ws-widget>
        </div>
        <div class="window-outer col-12 col-sm-6 col-md-12" window-title="Now Playing">
          <div class="window-content">
            <a id="listening"></a>
          </div>
        </div>
        <div class="window-outer col-12" window-title="Chat">
        <ws-widget type="chat" iid="16142" width="100%" height="300px"></ws-widget>
      </div>
      </div>
      
    </div>
    <div class="col-12" style="text-align:center;">
      {%- include footer.html -%}
    </div>
  </div>
</div>
