---
layout: base
---
<link rel="stylesheet" href="{{ "/assets/custom_css/home.css?v=" | append: site.env.CF_PAGES_COMMIT_SHA | relative_url }}">
<br>
<div class="container">
  <h1>test</h1>

  <div class="home-grid slide-anim">
    <div class="window-outer col-12">
      
    </div>
    <div class="window-outer col-md-3 col-lg-2" window-title="Navigation">
      {%- include sidenav.html -%}
    </div>
    <div class="window-outer col-12 col-md-6 col-lg-8 {% if page.tile_bg==true %}tile-shift{% endif %}" window-title="{{ page.title }}">
      <div class="window-exit">
        {%- include small-button-res.svg -%}
      </div>
      <div class="window-content">
        {{ content }}
      </div>
    </div>
    <div class="col-12 col-md-3 col-lg-2">
      <div class="home-grid">
        <div class="window-outer col-sm-6 col-md-12" window-title="Calendar">
          <ws-widget type="calendar" iid="16155"></ws-widget>
        </div>
        <div class="window-outer col-sm-6 col-md-12" window-title="Last Played">
          <ws-widget type="calendar" iid="16160"></ws-widget>
        </div>
        <div class="window-outer col-12" window-title="Chat">
        <ws-widget type="chat" iid="16142" width="100%" height="300px"></ws-widget>
      </div>
      </div>
      
    </div>
    <div class="col-12" style="text-align:center;">
      {%- include footer.html -%}
    </div>
  </div>

  
</div>
